{% load permission_tags %}
{% load static %}

<div class="neon-sidebar">
    <div class="h-100" data-simplebar>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul id="side-menu" class="list-unstyled">
                <li class="menu-title">Navigation</li>

                <li>
                    <a href="{% url 'dashboardIndex' current_project.slug %}">
                        <i class="fe-home"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'list_projects' current_project.slug %}">
                        <i class="fe-folder"></i>
                        <span> Projects </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'list_target' current_project.slug %}">
                        <i class="fe-crosshair"></i>
                        <span> Targets </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'monitoring_dashboard' current_project.slug %}">
                        <i class="fe-monitor"></i>
                        <span> Monitoring </span>
                    </a>
                </li>

                <li>
                    <a href="#sidebarHistory" data-bs-toggle="collapse">
                        <i class="fe-activity"></i>
                        <span> Scan History </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarHistory">
                        <ul class="nav-second-level">
                            <li><a href="{% url 'scan_history' current_project.slug %}">Scan History</a></li>
                            <li><a href="{% url 'subscan_history' current_project.slug %}">Sub Scan History</a></li>
                            <li><a href="{% url 'scheduled_scan_view' current_project.slug %}">Scheduled Scan</a></li>
                            <li><a href="{% url 'all_subdomains' current_project.slug %}">All Subdomains</a></li>
                            <li><a href="{% url 'all_endpoints' current_project.slug %}">All Endpoints</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="{% url 'all_vulns' current_project.slug %}">
                        <i class="fe-alert-triangle"></i>
                        <span> Vulnerabilities </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'list_note' current_project.slug %}">
                        <i class="fe-check-square"></i>
                        <span> Todo </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'list_organization' current_project.slug %}">
                        <i class="fe-briefcase"></i>
                        <span> Organization </span>
                    </a>
                </li>

                <li>
                    <a href="#sidebarEngine" data-bs-toggle="collapse">
                        <i class="fe-cpu"></i>
                        <span> Scan Engine </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEngine">
                        <ul class="nav-second-level">
                            {% if user|can:'modify_scan_configurations' %}
                            <li><a href="{% url 'scan_engine_index' current_project.slug %}">Scan Engines</a></li>
                            {% endif %}
                            {% if user|can:'modify_wordlists' %}
                            <li><a href="{% url 'wordlist_list' current_project.slug %}">Wordlists</a></li>
                            {% endif %}
                            {% if user|can:'modify_interesting_lookup' %}
                            <li><a href="{% url 'interesting_lookup' current_project.slug %}">Interesting Lookup</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>

                {% if user_preferences.bug_bounty_mode %}
                <li>
                    <a href="#sidebarBounty" data-bs-toggle="collapse">
                        <i class="fe-command"></i>
                        <span> Bounty Hub </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarBounty">
                        <ul class="nav-second-level">
                            <li><a href="{% url 'list_bountyhub_programs' current_project.slug %}">Programs Dashboard</a></li>
                            <li><a href="#" onclick="handleSyncBookmarkedProgramsSwal()">Sync Programs</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}

                <li>
                    <a href="#sidebarSettings" data-bs-toggle="collapse">
                        <i class="fe-settings"></i>
                        <span> Settings </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarSettings">
                        <ul class="nav-second-level">
                            {% if user|can:'modify_scan_configurations' %}
                            <li><a href="{% url 'proxy_settings' current_project.slug %}">Proxies</a></li>
                            <li><a href="{% url 'opsec_settings' current_project.slug %}">OpSec Settings</a></li>
                            <li><a href="{% url 'tool_settings' current_project.slug %}">Tool Settings</a></li>
                            {% endif %}
                            {% if user|can:'modify_system_configurations' %}
                            <li><a href="{% url 'api_vault' current_project.slug %}">API Vault</a></li>
                            <li><a href="{% url 'llm_toolkit' current_project.slug %}">LLM Toolkit</a></li>
                            <li><a href="{% url 'tool_arsenal' current_project.slug %}">Tools Arsenal</a></li>
                            {% endif %}
                            <li><a href="{% url 'report_settings' current_project.slug %}">Report Settings</a></li>
                            <li><a href="{% url 'rengine_settings' current_project.slug %}">reNgine Settings</a></li>
                            <li><a href="{% url 'notification_settings' current_project.slug %}">Notification Settings</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
